@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

:root {
  --color-bg: 255, 215, 0;
  --color-bg-selected: rgba(var(--color-bg), 0.4);
  --color-bg-selected-2: rgba(var(--color-bg), 0.6);
  --color-bg-selected-3: rgba(var(--color-bg), 0.8);
  --color-bg-selected-4: rgba(var(--color-bg), 1);
}

.ag-theme-custom-angular {
  @include ag-theme-alpine((
    odd-row-background-color: #f2f8f2,
    row-border-color: transparent,
    row-hover-color: null,
    checkbox-checked-color: #2661ad,
    range-selection-background-color: var(--color-bg-selected),
    range-selection-background-color-2: var(--color-bg-selected-2),
    range-selection-background-color-3: var(--color-bg-selected-3),
    range-selection-background-color-4: var(--color-bg-selected-4),
    range-selection-border-color: #ff00b1
  ));

  .ag-menu-option-active {
    background-color: #2661ad;
    color: white;
  }
}

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}